*.project
*.lock
*.log
*.ini
*.zip
*.location
*.tree
*.version
*.index
*.resources
*.prefs
*.xmi
*.txt
*.dat
*.xml
*.ser
*.setup
.metadata/
Servers/
WanadaPC/.settings/
WanadaPC/src/main/webapp/META-INF/
WanadaPC/.classpath
