@charset "UTF-8";

.header_body {
	width:80%;	
}

.header_all {
	display: flex;
	justify-content: space-between;
}

.header_main_logo {
	width: 240px;
}

.header_search_bar input {
	width: 350px;
	border: 2px solid green;
	border-radius: 30px;
	height: 50px;
	font-size: 20px;
	text-align: center;
}

.header_search_button {
	float: right;
}

.header_navigation {
	margin: 20px 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.header_navigation li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.header_navigation li a {
	text-decoration: none;
	color: black;
}

.header_link a {
	text-decoration: none;
	color: black;
	margin-right: 10px;
}