@charset "UTF-8";

.header_body {
	width:80%;	
}

.header_all {
	display: flex;
	justify-content: space-between;
}

.test {
	width: 100px;
	height: 20px;
	border: 1px solid black;
}

#header_search_container {
	width: 350px;
	height: 50px;
	border: 1px solid black;
	border-radius: 30px;
}

.header_search_container input {
	border: none;
}

.header_search_button {
	float: right;
}

.header_navigation {
	margin: 20px 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.header_navigation li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.header_navigation li a {
	text-decoration: none;
	color: black;
}

.header_link a {
	text-decoration: none;
	color: black;
	margin-right: 10px;
}